.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-img {
  object-fit: contain;
  width: 100%;
  height: 200px;
}


.card {
  background-color: burlywood;
  color: brown;
}

h2 {
  text-decoration:underline brown;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  color: brown;
}

input {
  color:brown;
}

#body {
  background-color:burlywood;
}

p {
  color: brown;
}

.navbar {
  background-color: burlywood;
}

#logo {
  width: 50px;
  height: 50px;
}

#cartt {
  width: 40px;
  height: 40px;
}

h1 {
  color: burlywood;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: underline burlywood;
}
h3 {
  color: burlywood;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.carousel-caption {
  background-color: rgba(255, 228, 196, 0.858);
  color: darkorange;
}
h4 {
  color:brown;
 
}
button {
  color: brown;
}
#foot {
  background-color:azure;
}
#beige {
  background-color:chocolate;
}
.card {
  background-color:aliceblue;
  outline: none;
}
#rev {
  background-color:cornsilk;
}

.title {
  color: brown;
  text-decoration: overline brown;
}

#inn {
  text-decoration: underline cadetblue;
  color: cadetblue;
}

.product_img {
  object-fit: contain;
  width: 100%;
  height: 200px;
}

h5 {
  color: brown;
  text-decoration: overline brown;
}

#productt {
  background-color: whitesmoke;
  outline: #282c34;
 
}
  


#homebody {
  background-image:url("../src/images/background.jpg") ;
  background-position: 0%;
  background: scroll;
}
